html{height:100%;}
html,body{margin:0px; padding:0px;}
body, * {
	font-family:monospace, sans-serif,verdana,arial;
}
body{
    font-size:100%;
    background-color: #007998;
    background: linear-gradient(135deg, #007998 0%, #002233 100%) repeat scroll 0% 0% transparent;
}
* { border-radius: 5px;box-sizing: border-box; }

input, textarea, select {font-size:1rem;}

.a_c{text-align: center;}
.n_w{white-space: nowrap;}

.tb_main{
	margin:15px auto;
	width:44rem;
	max-width:95%;
	border:2px #000 solid;
    background-color: #000;
}
.tb_main td{
	padding:0px;
}
.a_bt{
	text-decoration:none;
	display:inline-block;
	padding:5px;
	margin:3px;
	background-color:#333;
    color: #ccc;
    font-weight:bold;
    letter-spacing:1px;
    border: 1px #666 solid;
    border-left: 3px #666 solid;
    border-right: 3px #666 solid;
    outline:0;
}
.key:focus,
.a_bt:focus,
.a_bt:hover{
        border: 1px #aaa solid;
        border-left: 3px #aaa solid;
        border-right: 3px #aaa solid;
        box-shadow: 0px 0px 3px #ccc;
        color:#fff;
}

#bt_edit, #bt_regenerate{color:orange;}

#txa{
	text-align:left;
	width:100%;
	height:300px;
	background-color:#333;
    color:#666;
	padding:5px;
	margin:0px;
	border:none;
	line-height: 1.3rem;
}

#totps{display:block;width:100%;text-align:center;padding-bottom:0.2rem;transition:0.3s;}
#totps a{display:inline-block;width:98%;margin:0.2rem;padding:0.2rem;font-size:1.5rem;transition:0.3s;
	text-align:center;text-decoration:none;color:#333;background-color:#aaa;letter-spacing: 1px;}
#totps a:hover{box-shadow:0px 0px 2px 1px #fff;}

	@media (min-width: 600px) {
		#totps a{width:48%;}
	}

.txa_decrypted{
    background-image:
    linear-gradient(90deg, transparent 69px, #888 69px, #357 71px, transparent 71px),
    linear-gradient(#444 .1em, transparent .1em);
    background-size: 100% 1.3rem;
    padding-left: 90px!important;
    padding-top: 0.25rem !important;
    color:#ccc!important;
}

.key{
	padding:5px;
	margin:3px;
	background-color:#333;
        color:#ccc;
	border:1px #000 solid;
	border-left:3px #000 solid;
	border-right:3px #000 solid;
	width:400px;
        text-align:center;
}
.key:hover{box-shadow: 0px 0px 3px #ccc;}

#signature{text-align:center;color:rgba(255,255,255,0.5);}
#signature a{color:rgba(255,255,255,0.5);text-decoration:none; font-weight:bold;}
#signature a:hover{color:rgba(255,255,255,0.7);}

#messages_div{
    padding:3px;
    margin-top:3px;
    background-color: #000;
    color: #ccc;
}
#messages_div span.red{ color:#b99;}
#messages_div span.green{ color:#9b9;}

#menu_change_key{text-align:right;}
